html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  color: #333333;
}

h1, h2, h3, h4 {
  font-family: 'Quando', Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header nav {
  padding: 3% 0;
  font-size: 1em;
}

header {
  margin-bottom: 0;
}

header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:-20px;;
 }

header nav ul > li {
  float: left;
  display: inline;
  padding: 25px 20px;
}

.footer {
  text-align: center;
  align-content: center;
  background: #004b66;
  padding: 10px 0;
  color: white;
}

.footer p {
  color: #a4a3a3;
}

.footer a {
  color: white;
}

.contactbuttons {
  padding-top: 20px;
  width: 50%;
  margin-left: 41%;
  color: #d96302;

}

.social {
  float: left;
  margin-left: 30px;
}

.link {
  float: left;
  margin-left: 30px;
}

.links {
  width: 50%;
  margin-left: 34%;
}

.container {

  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.one-half, .one-third {
  width: 94%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0, 4%, 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  
  .one-half {
    width: 48%;
  }
  
  .one-third {
    width: 25.33333%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 10%;
  }
}

#logo {
  vertical-align: middle;
  float: left;
  margin-left: 5%;
}

#herotext {
  padding-left: 50px;
  float:right;
  width: 45%;
}

#herotext > a {
  padding: 5px 15px;
  color: black;
  background: #d96302;
  margin-top: 50px;
  margin-left: 25%;
}

.herocaption {
  padding-left: 50px;
  font-size: 2.3em;
  text-shadow: 2px 2px #3E3D3D;
}

#herodesc {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
}

#hero {
  color: white;
  background: url(/Users/v644093/Downloads/Bloc/BlocBox/images/background.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#menu {
  float: left;
}

#features {
  clear:both;
}

.feature {
  clear:both;
}

.featuredetailleft {
  margin-top: 90px;
  width: 400px;
  margin-right: -50px;
  text-align: right;
  padding: 10px 50px;
}

.featuredetailright {
  margin-top: 80px;
  width: 400px;
  text-align: left;
  margin-right: 100px;

  padding: 10px 0;
}

#signbuttons {
  float: right;
  
}

#signbuttons a {
  color: white;
}


.testimonials {
  margin-top: 450px;
  background-color: #004b66;
  padding: 50px 100px;
}

#testimonialsheading {
  text-align: center;
  color: white;
}

.testdesc {
  float: right;
  color: white;
  width: 700px;
  margin-top: 30px;
}

.testimage {
  margin-left: 150px;
  margin-top: -10px;
}

#testimonialstab {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  text-align: center;
  padding: 50px 0;
  clear:both;
}

.pricing:after {
  content: " ";
  display: table;
}

.pricing:after {
  clear:both;
}

.pricing h1 {
  font-size: 3em;
  margin-bottom: -10px;
  color: #004b66;
}

.pricingbox {
  padding: 20px 0 30px 0;
  border: 1px solid lightgray;
  margin-left: 70px;
  margin-top: 40px;
  box-shadow: 1px 1px 1px lightgray;
}

.testdot {
  float: left;
  padding-top: 30px;
  
}

.starttrial {
  margin-top: 50px;
}

.starttrial1 {
  margin-top: 85px;
}

.videoimageleft {
  margin-top: 50px;
  margin-left: 100px;
  padding: 20px 0;
}
.videoimageright {
  margin-left: 200px;
  margin-top: 50px;
  padding: 20px 0;
}

.tabs {
  position: relative;   
  min-height: 270px; /* This part sucks */
  clear: both;
  margin-top: 30px;
  margin-bottom: 0;
  
}
.tab {
  float: left;
  margin-left: 275px;
}
.tab label {
  background: url(/Users/v644093/Downloads/Bloc/BlocBox/images/testimonialbutton.png) no-repeat center center; 
  padding: 20px;
  
  /*border: 1px solid #ccc; */
  

  position: relative;
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 20px;
  left: 70px;
  background: #004b66;
  right: 0;
  bottom: 0;
  padding: 40px 0 0 0;
}
[type=radio]:checked ~ label {
  background: url(/Users/v644093/Downloads/Bloc/BlocBox/images/testimonialbuttonselected.png) no-repeat center center; 
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.dashboard {
   background:#F7F7F7;
 }
 .left-nav {
   height: 100%;
   width:280px;
   position: absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 
 .left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#34495E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
 
 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #34495E;
     background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
 
 .left-nav .site-logo {
   padding:20px 0;
   background:#34495E;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }
 
 /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#22303E;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }
 
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #3498DB;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }
 
 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
 
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #3498DB;
   text-decoration: none;
 }
 .item-box h2 img {
   width:20px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:10px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:10px 0 0;
 }
 
 .header a {
  background: #d96302;
  color: white;
  padding: 10px 30px;
 }
 
 #left-nav img {
  padding:-20px;
  margin: -20px 0;
 }


